// Team section
.team {
  width: 100%;

  .teamContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .teamBlock {
    max-width: 300px;

    .teamBlockText {
      h2 {
        padding-top: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-size: 22px;
      }
      
      h4 {
        padding: 15px 0 25px 0;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #e84545;
      }

      p {
        font-family: 'Raleway', sans-serif;
        color: $dark_gray;
        font-size: 14px;
      }
    }
    
    .teamBlockSocial {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2px;
      padding-top: 20px;
    }
    
    .teamBlockSocial a {
      text-align: center;
      border: 1px solid #e8ecee;
      color: $dark_gray;
      padding: 15px 0 15px 0;
    }
    
    .teamBlockSocial a:hover {
      background-color: $link_red;
      color: #fff;
      transition: .5s;
    }
  }
}